/* < 576x*/

/* Override variabel Bootstrap */
:root {
  --bs-font-sans-serif:
    "Fredoka", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-line-height: 1.6;
}

/* Kustomisasi tambahan */
h1,
h2,
h3 {
  font-weight: 600;
}

.font-efek {
  text-shadow:
    0 0 10px #00baf1,
    0 0 20px #00baf1;
}

h1 {
  font-size: 5em;
}

@media screen and (min-width: 0px) {
  body {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-weight: 400; /* bisa 300,400,500,600,700 */
  }

  .anchor {
    scroll-margin-top: 80px;
  }

  .anchor-2 {
    scroll-margin-top: 55px;
  }

  /* Navbar */
  .navbar {
    background-color: #00baf1;
    border-bottom: 0px solid white !important;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    color: white;
  }

  .donwload {
    color: white;
  }

  .donwload:hover {
    color: black;
  }

  .active {
    color: white !important;
    font-weight: bolder;
  }

  .logo {
    position: absolute;
    top: 12%;
    left: 3%;
    margin-bottom: 1rem;
  }

  /* Overlay */
  .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* gelap transparan */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; /* horizontal tengah */
    opacity: 0;
  }

  .button-close {
    position: absolute;
    top: 25px;
    right: 35px;
    font-weight: bolder;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    z-index: 10000;
  }

  .button-close:hover {
    color: red;
  }

  .logo-overlay {
    width: 50%;
    max-width: 350px; /* batas maksimal */
    height: auto; /* biar proporsional */
    display: block;
    margin: 0 auto;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .hidden {
    display: none;
  }

  /* Home */

  .home {
    line-height: 0;
    margin-bottom: 11rem;
  }

  .container-text-home {
    height: 70vh;
  }
  /* Text Home */
  .section-text-home {
    height: 25vh;
  }
  .p-tag {
    color: black;
    transition: color 0.3s ease;
  }

  .p-tag:hover {
    color: #00baf1;
  }

  .btn-cta {
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    background: rgb(0, 186, 241);
    transition: all 0.3s ease;
    color: white;
    font-family: "Fredoka", sans-serif !important;
  }

  .btn-cta:hover {
    background-color: rgba(0, 186, 241, 0.9) !important;
    color: white !important;
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  /* Img Home */

  .section-img-home {
    height: auto;
    margin-bottom: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .img-home {
    transition: all 0.3s ease;
  }

  /* About */
  .h2-about {
    position: absolute;
    left: 2rem;
    top: 1.3rem;
  }

  .about {
    background-color: rgb(0, 186, 241);
    color: white;
    margin: 0;
    height: auto;
    margin-top: 1rem;
    box-sizing: border-box;
  }

  .about-right {
    height: auto;
  }

  .img-about {
    width: 100vw;
    height: auto;
    border-radius: 0 0 50% 50%;
  }

  .text-about {
    margin: auto;
    width: 97vw;
  }

  /* Teacher */
  .teacher {
    height: auto;
  }

  .card-img-top {
    height: 21rem;
    object-fit: cover;
  }

  /* Gllery */
  .gallery {
    height: auto;
    padding-bottom: 20rem;
    /* width: 100vw; */
    background-color: #00baf1;
    color: white;
  }

  .container-gallery-slid-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50vh; /* minimal setinggi layar */
  }

  .carousel-item {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Gambar penuh tanpa gepeng */
  }

  .h3-slide {
    transition: all 0.5s ease;
    opacity: 0;
    top: 80%;
    left: 20%;
    z-index: 2;
    text-shadow:
      0 0 10px #00baf1,
      0 0 20px #00baf1;
  }

  /* Location */
  .location {
    height: 90vh;
  }

  .sub-location {
    margin-top: 3rem;
  }

  /* Contact */
  .send-massege {
    background-color: rgb(0, 186, 241);
  }

  .icon-contact {
    color: #00baf1;
  }

  .icon-footer {
    color: #00baf1;
  }

  .form-contact-input:focus {
    border: none !important;
    outline: none !important;
    filter: drop-shadow(5px 5px 5px 5px rgba(0, 186, 241, 0.1));
  }

  #send-massege:hover {
    background-color: #00baf1;
  }
}

/* 500px <= 768px */
@media screen and (min-width: 500px) {
  .about-right {
    height: auto;
  }
}

/* 768px <= 992px */
@media screen and (min-width: 768px) {
  /* Nav */
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* atau 18px, 20px, dll */
  }
  .home {
    height: 100vh;
    display: flex;
    margin-bottom: 0;
  }

  .container-text-home {
    height: 100vh;
    display: flex;
    align-items: center;
    /* flex-direction: column; biar konten vertikal */
    justify-content: center; /* tengah vertikal */
  }

  .section-text-home {
    height: 35vh;
  }

  /* about */
  .about-right {
    height: auto;
  }

  /* Gllery */
  .carousel-item img {
    max-width: 75%;
    max-height: 75%;
  }
}

/* 992px <= 1200px */
@media screen and (min-width: 992px) {
  /* Home */
  .home {
    height: 100vh;
  }
  /* About */
  .h2-about {
    position: static;
    text-align: center;
    padding-top: 3rem;
  }
  .about {
    height: auto;
  }

  .about-right {
    height: auto;
  }

  .img-about {
    width: 75vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 10px;
  }

  .text-about {
    width: 90vw;
  }

  /* Teacher */
  .teacher {
    height: 100vh;
  }

  /* Gellry */
  .gallery {
    height: 100vh;
  }

  .carousel-item {
    aspect-ratio: 18/9;
  }
}
